<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

{% include head.html %}

<body id="page-top">
  {% include nav-funds.html %}
  {% include header-funds.html %}
  {% include call-to-action-funds.html %}
  {% include feature-funds.html %}
  {% include portfolio-funds.html %}
  {% include services-funds.html %}
  {% include aside-funds.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
